
<div class="container">
    <div class="row" style="margin-top:5%">
        <div class="col-12">
            <center><h1>Registro</h1></center>
        </div>
        <div class="col-12">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Escriba su correo electronico">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Escriba su nombre de usuario">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <a href="/home" class=""><button type="submit" class="btn btn-primary">Registrar</button></a>
              </form>
        </div>
    </div>
</div>